.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  text-align: center;
  min-height: 50px;
  width: 100%;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  background: #4c4cff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.counter span {
  color: white;
  font-weight: bold;
}
