.mainContent {
  padding: 0 380px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 2000px) {
  .mainContent {
    padding: 0 250px 40px;
  }
}
